<div width="100%" height="60px">
    <nav>
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #346cac;">{{userDisplayName}}</a>
            <a href="#" class="d-flex " style="color: #346cac; text-decoration: none;">Sign out</a>
        </div>
    </nav>
</div>

<div width="100%" height="60px">
    <nav class="navbar " style="background: #bcd4e4;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #346cac;">{{userDisplayName}}</a>
            <a href="#" class="d-flex " style="color: #346cac; text-decoration: none;">Sign out</a>
        </div>
    </nav>
</div>
<div class="navbar crn-header">
    <img src="assets/images/search.png" alt="search logo" >
    <h5>CRN Search</h5>
    <input class="form-control" type="text" placeholder="Enter CRN Here" [(ngModel)]="inptext">
    <a (click)= "clkFind()" class="btn">Find</a>
</div>

<div class="navbar search-header">
    <div class="search-div-1">
        <img src="assets/images/search2.png" alt="search logo">
        <p >Search Options</p>
        <a href="" class="btn">Advance Search</a>
    </div>
    <div class="btn search-div-2">
        <a (click)="onbtExport()">
            <img src="assets/images/download.png" alt="download logo">
            Download
        </a>
    </div>
</div>    
<ag-grid-angular class="ag-theme-quartz" 
style="height: 500px;" [defaultColDef]="defaultColDef" 
[rowData]="cRNSearchList"  [columnDefs]="colDefs" (gridReady)="onGridReadyEvent($event)"></ag-grid-angular>  
   <footer>
    <iframe frameborder="0" width="100%"></iframe>
</footer>
